<div class="row">
  <div class="col-12">
    @if(stats.length) {
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Base stat</th>
          <th>Effort</th>
        </tr>
      </thead>
      <tbody>
        @for (stat of stats; track $index) {
            <tr>
                <th>{{stat.stat.name}}</th>
                <th>{{stat.base_stat}}</th>
                <th>{{stat.effort}}</th>
            </tr>
         }
      </tbody>
    </table>
    }
  </div>
</div>
