<div class="my-5">
    <div class="p-5 text-center bg-body-tertiary">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Sample application using Pokemon api</h1>
        <p class="col-lg-8 mx-auto lead">
            This is the demo application using pokmon api using anuglar. <br>
            To see all the available pokemons please visit this link.
            <a
            [routerLink]="'pokemons'"
            aria-current="page"
            >Pokemons</a
          >
        </p>
      </div>
    </div>
  </div>
